# Environment / secrets
.env
.env.local
*.pem

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*~

# Rails (will matter after rails new)
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep
/public/assets
/public/packs
/public/packs-test
/node_modules
/vendor/bundle
.byebug_history
/config/master.key
/config/credentials/*.key
